@model Bill;

@{

    <form>

    <div class="card-body">

        <div class="row">
            <div class="col-md-6">  
                <div class="form-group">
                <label>ID Hóa Đơn: </label>
                <label>@Model.bi_id</label>
                </div>
            </div>

            <div class="col-md-6">  
                <div class="form-group">
                <label>Ngày Lập: </label>
                <label>@Model.bi_date</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">    
                <div class="form-group">
                <label>ID Khách Hàng: </label>
                 <label>@Model.cus_id</label>
                </div>
            </div>

            <div class="col-md-6">    
                <div class="form-group">
                <label>Tên Khách Hàng: </label>
                <label>
                            @foreach (var customer in (ViewData["Customers"] as IEnumerable<Customer>))
                            {
                                @if (customer.cus_id == @Model.cus_id)
                                {
                                    @:@customer.cus_name
                                }
                            }
                </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">    
                <div class="form-group">
                <label>ID các vé: </label><br>
                    <select name="ticket" style="width:150px; height: 30px">
                            @foreach (var ticket in (ViewData["Tickets"] as IEnumerable<Ticket>))
                            {
                                <option value="@ticket.tk_id">
                                     @ticket.tk_id 
                                </option>
                            }
                    </select>
                </div>
            </div>

            <div class="col-md-6">    
                <div class="form-group">
                <label>Tên các khuyến mãi đã dùng: </label><br>
                    <select name="discount" style="width:150px; height: 30px">
                            @foreach (var chosendiscount in (ViewData["ChosenDiscounts"] as IEnumerable<ApplyDiscount>))
                            {
                                <option value="@chosendiscount.dis_id">
                                @foreach (var discount in (ViewData["Discounts"] as IEnumerable<Discount>))
                                {
                                    @if(discount.dis_id == chosendiscount.dis_id)
                                    {
                                            @:@discount.dis_name
                                    }
                                }
                                </option>
                            }
                    </select>
                </div>
            </div>

        </div>
 

        <div class="row">
            <div class="col-md-6">    
                <div class="form-group">
                <label>Tổng số vé: </label>
                <label>@Model.tk_count</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                <label>Tổng tiền: </label>
                <label>@Model.bi_value</label>
            </div>
        </div>


    </div>


    <div class="card-footer">
        
    </div>

    </form>
}
