@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@* @String.Format("{0:dd/MM/yyyy}",ViewBag.TerminoDaAvaliacao) *@
@section head {
    <link rel="stylesheet" href="~/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">



}
<section class="slider">
    <div class="container">
        <div class="slider-content">
            <div class="slider-content-left">
                <!--Tạo khung đăng nhập-->
                <div class="user-modal">
                    <div class="form-header">
                        <span class="form-header--selected  login">ĐĂNG NHẬP</span>
                        <span class="register">ĐĂNG KÝ</span>
                    </div>



                    <div class="register_form">
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-floating">
                            <label asp-for="Input.cus_name">Họ và tên:<span class="required"> *</span></label><br>
                                <input class="form-control" asp-for="Input.cus_name" autocomplete="cus_name" aria-required="true"><br>
                            <span asp-validation-for="Input.cus_name" class="text-danger"></span>
                            </div>


                            <div class="form-floating">
                            <label asp-for="Input.cus_phone">Số điện thoại:<span class="required"> *</span></label><br>
                            <input asp-for="Input.cus_phone" class="form-control" autocomplete="cus_phone" aria-required="true" />
                            <span asp-validation-for="Input.cus_phone" class="text-danger"></span>
                            </div>

                                <div class="form-floating">
                            <label asp-for="Input.Email">Email:<span class="required"> *</span></label><br>
                            <input asp-for="Input.Email" class="form-control" autocomplete="Email" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                                    
                            <div class="fthrow">
                                <label asp-for="Input.cus_dob">Ngày sinh (DD/MM/YYYY):<span class="required"> *</span></label><br>
                                <input asp-for="Input.cus_dob" class="form-control" type="date" aria-required="true" />
                                <span asp-validation-for="Input.cus_dob" class="text-danger"></span>


                                <div class="gender-container">
                                    <input type="radio" class="round" id="gender-male" name="Input.cus_gender" value="men" checked>
                                    <label for="gender-male" class="gender-label">Nam</label>

                                    <input type="radio" class="round" id="gender-female" name="Input.cus_gender" value="women">
                                    <label for="gender-female" class="gender-label">Nữ</label>


                                </div><br>
                            </div>


                            <div class="form-floating">
                            <label asp-for="Input.Password">Mật khẩu:<span class="required"> *</span></label> <br>
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                                <div class="form-floating">
                            <label asp-for="Input.ConfirmPassword">Xác nhận mật khẩu:<span class="required"> *</span></label><br>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>


                           
                                <label for="agreelaw">Bấm ĐĂNG KÝ đồng nghĩa với việc bạn đồng ý với <span>điều khoản sử dụng</span> của chúng tôi.</label>
                            

                            <button id="registerSubmit" type="submit" class="submit"><span>ĐĂNG KÝ</span> </button>

                            
                        </form>
                        @if (!Model.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <ul>
                                    @foreach (var error in Model.ModelState.Values.SelectMany(v => v.Errors))
                                    {
                                        <li>@error.ErrorMessage</li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!--Khung banner chương trình đang diễn ra-->
            <div class="slider-content-right">
                <section class="wrapper">
                    <i class="fa-solid fa-arrow-left button" id="prev"></i>
                    <div class="image-container">
                        <div class="carousel">
                            <img src="@Url.Content("~/Images/Login/1.jpg")" alt="" />
                            <img src="@Url.Content("~/Images/Login/2.jpg")" alt="" />
                            <img src="@Url.Content("~/Images/Login/3.jpg")" alt="" />
                        </div>
                        <i class="fa-solid fa-arrow-right button" id="next"></i>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
